@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

:root{
    --main-color:#D8DEF2;
    --second-color:#ffff;
    --third-dark-color:#A25772;
    --text-color:#000000;
    --basic-color:#ffff;
    --font-family:"Questrial", sans-serif;
}